/*Start with the font you want, and end with a generic family,*/
body { 
    background-color: white; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#wrap {
    max-width: 800px;
	margin:auto; 
	text-align: left;
	/*border-color: red;
	border-style: solid;   */
}

header h1 {
	margin-bottom: 0;	
}

figure {
    width: 100%;
    height: auto;	
    margin: 0 auto;	
	display: inline-block;	
	
}

figcaption {
	text-align: center;
	font-variant: small-caps;
}

img:hover {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
	
}

img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
	
	display: block;
    margin: 0 auto;
	
	max-height: 100px;
	width: auto;	
}



footer {
	text-align: center;
}

footer ul{
	/*border-style: solid;
    border-color: black;	*/	
	margin: 0;
	padding: 0;	
}

footer ul li {
    display: inline;
	margin: 0px 10px;
	font-size: 2em
}

footer a{	
	text-decoration: none;
}


/* a:hover must come after link and visited, active comes after hover */
a:link, a:visited  {
	color:black; 
}

a:hover, a:active {
	color: red;		
}


#alert{
    color: red
}
